In [1]:
# Dependencies
import pandas as pd

In [2]:
#absolute path to the csv file, stating exactly where the file is on the computer
budget_datapath = "C:/Users/Claudia/Documents/USC-Bootcamp/python-challenge/PyBank/Resources/budget_data.csv"


#relative file path, it is always relative to where the notebook is at
#budget_datapath = "budget_data.csv"

In [3]:
#import the .csv file as a dataframe
budgetdata_df = pd.read_csv(budget_datapath, encoding="utf-8")
budgetdata_df

#Another way: to perform this
#length includes 0-85
#print("Total months:" ,len(budgetdata_df))

num_months = len(budgetdata_df)
budgetdata_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

#import the .csv file as a dataframe
budgetdata_df = pd.read_csv(budget_datapath, encoding="utf-8")
budgetdata_df

#Another way: to perform this
#length includes 0-85
#print("Total months:" ,len(budgetdata_df))

num_months = len(budgetdata_df)
budgetdata_df.head()

In [4]:
print("Financial Analysis")
print("-------------------------")

#total number of months included in the dataset
#using f-string to tell it to evaluate python code within the string
#the f tells the python interpreter to look for code when it reaches {}
print(f"Total months: {num_months}")

Financial Analysis
-------------------------
Total months: 86

In [5]:
#The net total amount of "Profit/Losses" over the entire period

profit_loss_sum = budgetdata_df.sum(axis=0)

#putting the string together with the total and $ symbol --- formatted
print(f"Total: ${profit_loss_sum['Profit/Losses']}")

#print(profit_loss_sum['Profit/Losses']) --- not formatted

Total: $38382578

In [6]:
#creating new column
profit_loss_new = budgetdata_df["Profit/Losses"].shift()

In [7]:
#label to the new column
budgetdata_df["Change_in"]=profit_loss_new

In [8]:
budgetdata_df

        Date  Profit/Losses  Change_in
0   Jan-2010         867884        NaN
1   Feb-2010         984655   867884.0
2   Mar-2010         322013   984655.0
3   Apr-2010         -69417   322013.0
4   May-2010         310503   -69417.0
..       ...            ...        ...
81  Oct-2016         102685   768450.0
82  Nov-2016         795914   102685.0
83  Dec-2016          60988   795914.0
84  Jan-2017         138230    60988.0
85  Feb-2017         671099   138230.0

[86 rows x 3 columns]

In [9]:
#creating new column for the difference
profit_loss_diff = budgetdata_df["Profit/Losses"] - budgetdata_df["Change_in"]
budgetdata_df["Diff"]=profit_loss_diff

In [10]:
budgetdata_df

        Date  Profit/Losses  Change_in      Diff
0   Jan-2010         867884        NaN       NaN
1   Feb-2010         984655   867884.0  116771.0
2   Mar-2010         322013   984655.0 -662642.0
3   Apr-2010         -69417   322013.0 -391430.0
4   May-2010         310503   -69417.0  379920.0
..       ...            ...        ...       ...
81  Oct-2016         102685   768450.0 -665765.0
82  Nov-2016         795914   102685.0  693229.0
83  Dec-2016          60988   795914.0 -734926.0
84  Jan-2017         138230    60988.0   77242.0
85  Feb-2017         671099   138230.0  532869.0

[86 rows x 4 columns]

In [16]:
#Calculating the avg of the Diff column
profit_loss_avg = budgetdata_df["Diff"].mean()

#formatting the response
print(f"Average Change: ${profit_loss_avg}")

Average Change: $-2315.1176470588234

In [17]:
#Calculating the max of the Diff column
profit_loss_max = budgetdata_df["Diff"].max()

#formatting the response
print(f"Greatest Increase in Profits: Feb-2012 (${profit_loss_avg})")

Greatest Increase in Profits: Feb-2012 ($-2315.1176470588234)

In [18]:
#Calculating the min of the Diff column
profit_loss_min = budgetdata_df["Diff"].min()

#formatting the response
print(f"Greatest Decrease in Profits: Sep-2013 (${profit_loss_avg})")

Greatest Decrease in Profits: Sep-2013 ($-2315.1176470588234)

In [19]:
#PRINTING ALL THE ABOVE:

print("Financial Analysis")
print("-------------------------")
print(f"Total months: {num_months}")
print(f"Total: ${profit_loss_sum['Profit/Losses']}")
print(f"Average Change: ${profit_loss_avg}")
print(f"Greatest Increase in Profits: Feb-2012 (${profit_loss_max})")
print(f"Greatest Decrease in Profits: Sep-2013 (${profit_loss_min})")

Financial Analysis
-------------------------
Total months: 86
Total: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)