In [1]:
#Dependencies
import pandas as pd

In [2]:
#absolute path to the csv file, stating exactly where the file is on the computer
election_datapath = "C:/Users/Claudia/Documents/USC-Bootcamp/Homework/Week_3_Python/PyPoll/Resources/election_data.csv"
#"C:/Users/Claudia/Documents/USC-Bootcamp/Curriculum_Repo/usc-la-data-pt-03-2020-u-c/unit_3_python/homework/PyBank/Resources/budget_data.csv"

#relative file path, it is always relative to where the notebook is at
#budget_datapath = "budget_data.csv"

In [3]:
#import the .csv file as a dataframe
election_df = pd.read_csv(election_datapath, encoding="utf-8")
#election_df

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [4]:
#The total number of votes cast
#length includes 0-85
#print("Total months:" ,len(budgetdata_df))
num_votes = len(election_df)
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [5]:
#Printing the results
print("Election Results")
print("-------------------------")
print(f"Total votes: {num_votes}")
print("-------------------------")

Election Results
-------------------------
Total votes: 3521001
-------------------------

In [23]:
#election_df = election_df.sort_values("Candidate", ascending=False)
#election_df

#electiontable_df = election_df("Voter ID", "County", "Candidate")
#electiontable_df = pd.pivot_table(df, index=['Candidate'], values=['Voter ID'], aggfunc='sum')

candidate_percent = (election_df["Candidate"].value_counts()/num_votes)*100
candidate_counts = election_df["Candidate"].value_counts()

counts_percent = df = pd.concat([candidate_percent, candidate_counts], axis=1)
counts_percent.head()

          Candidate  Candidate
Khan      63.000011    2218231
Correy    19.999994     704200
Li        13.999996     492940
O'Tooley   2.999999     105630

In [25]:
print("-------------------------")
print("Winner: Khan")
print("-------------------------")

-------------------------
Winner: Khan
-------------------------

In [34]:
#PRINTING ALL THE RESULTS FROM ABOVE:
#-------------------------------------
print("Election Results")
print("-------------------------")
print(f"Total votes: {num_votes}")
print("-------------------------")

print(counts_percent.head())

print("-------------------------")
print("Winner: Khan")
print("-------------------------")

Election Results
-------------------------
Total votes: 3521001
-------------------------
          Candidate  Candidate
Khan      63.000011    2218231
Correy    19.999994     704200
Li        13.999996     492940
O'Tooley   2.999999     105630
-------------------------
Winner: Khan
-------------------------